.logo-container{
    width: 100vw;
    height: 64px;
    background: #17092C;
}

.logo-title{
    font-family: 'Inter';
    font-style: normal;
    padding: 16px 16px 16px 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin:  0 auto;
    text-align: center;;
}

.highlight-title{
    color: #52B45B;
}

.login-modal{
    padding: 40px 32px;
    gap: 40px;
    width: min(416px, 100%);
    height: 548px;
    left: 512px;
    top: 128px;
    margin: 64px auto 0 auto;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}


.login-modal__welcome-message{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 32px;
}

.login-modal__label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: #000000;
    display: flex;
}

.login-modal__input{
    margin-top: .5rem;
    padding: .75rem 1rem;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #87848F;
    border-radius: .3125rem;

    &::placeholder{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.001em;
        color: rgba(0, 0, 0, 0.7);
    }
}

.container--password__header{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.login-modal__container--password{
    margin: 20px 0;
}

.container--password__forgot-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: -0.005em;
    color: #2E046D;
}

.login-modal__input--password{
    display: flex;
    position: relative;
}

.input-password__container-svg{
    position: absolute;
    width: 22px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 10C1 10 4.63636 2.5 11 2.5C17.3636 2.5 21 10 21 10C21 10 17.3636 17.5 11 17.5C4.63636 17.5 1 10 1 10Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 12.8123C12.5062 12.8123 13.7273 11.5531 13.7273 9.99976C13.7273 8.44646 12.5062 7.18726 11 7.18726C9.49375 7.18726 8.27271 8.44646 8.27271 9.99976C8.27271 11.5531 9.49375 12.8123 11 12.8123Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    bottom: 15px;
    right: 10px;
    cursor: pointer;
}

.login-modal__container-checkbox{
    display: flex;
    align-items: center;
    gap: 8px;
}

.container-checkbox--label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.005em;
    color: #000000;
}

.login-modal__submit{
    padding: 12px 24px;
    gap: 16px;
    width: 100%;
    height: 48px;
    background: #2E046D;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    margin: 44px  0 40px 0;
    cursor: pointer;
}

.go-to-register__container{
    text-align: center;
    margin: 0 auto;
    padding-top: 44px;
    border-top: 1px solid #E5E5E5;
}

.go-to-register__link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2E046D;
    text-align: center;
}